﻿<head>
    <title>Editar nota</title>
</head>

<body>

    <h3>Editar nota</h3>
    <form href="~/Nota/EditarNota" method="post">
        <p><input class="input" type="hidden" name="Id" value="@Model.Id_nota" /></p>
        <p>Titulo</p>
        <p><input class="input" type="text" name="Titulo" value="@Model.Titulo" /></p>
        <p>Contenido</p>
        <p><input class="input" type="text" name="Contenido" value="@Model.Contenido" /></p>
        <p>Fecha</p>
        <p><input class="input" type="text" name="Fecha" value="@Model.Fecha" /></p>
        <button id="insesion" class="button is-link">Actualizar</button>
    </form>
</body>