﻿<head>
    <title>Notas</title>
</head>

<body>
    <h1>Mis notas</h1><br />
    <ul>
        @foreach (Nota no in Model)
        {
            <li><a class="nav-link text-dark" href="~/Nota/Nota?id=@no.Id_nota">@no.Titulo<p>@no.Contenido</p></a><a class="nav-link text-dark" href="~/Nota/EditarNota?id=@no.Id_nota"><h5>Editar nota</h5></a> <a class="nav-link text-dark" href="~/Nota/EliminarNota?id=@no.Id_nota"><h5>Eliminar nota</h5></a></li>
        }
    </ul>
</body>