﻿<head>
    <title>Nueva nota</title>
</head>

<body>
    <h3>Ingresa tu nota nueva</h3> 
    <form href="~/Nota/NotaNueva" method="post">
        <p>Titulo</p>
        <p><input class="input" type="text" name="Titulo" /></p>
        <p>Contenido</p>
        <p><input class="input" type="text" name="Contenido"/></p>
        <p>Fecha</p>
        <p><input class="input" type="text" name="Fecha"/></p>
        <button id="insesion" class="button is-link">Crear nota</button>
    </form>
</body>